/* This file contains the styling for the Contact Us page of the application */

.contact-us-container {
  display: flex;
  align-items: flex-start;
  padding-top: 12.5rem;
}

#content-container {
  max-width: 100%;
}

.maps-and-info {
  flex: 1;
}

.google-maps {
}

.business-info {
  width: 50%;
  padding: 5rem 0;
}

/* Styles the elements inside the information grid */
.business-info {
    margin: auto;
}

.info-grid {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  grid-template-rows: min-content 1fr;
  grid-template-columns: auto auto;
  text-align: center;
}

#kashy-email, #kashy-phone,
#learn-more, #book-now {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.business-email, .business-phone {
    border-right: solid 3px black;
}

.business-email, .more-info {
    border-bottom: solid 3px black;
    padding-bottom: 5px;
}

.business-phone, .call-to-action {
    padding-top: 5px;
}

/* Styles the elements inside the form and the form */
.contact-us-form {
  flex: 1;
  padding: 0 5rem;
} 

.contact-us-form h2 {
  text-transform: uppercase;
  font-size: 34px;
  padding: 5rem 0;
}

#customers-form {
  height: 48%;
  width: 100%;
  margin-top: 40px;
  padding: 40px 50px;
  background-color: white;
}

#customers-form h2 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Helvetica Neue', sans-serif, sans-serif;
  font-weight: bold;
}

#contact-form input {
  width: 100%;
  padding: 3rem 1rem;
  border: 1px solid;
}

#contact-form>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

#contact-form>div>div {
  flex: 1;
  padding: 0;
  margin: 0;
}

#contact-form>div>div input {
  border-bottom: none!important;
  outline: none;
}

#contact-form input {
  outline: none;
}

.clear-border-right {
  border-right: none!important;
}

#contact-form  .submit-box {
  justify-content: flex-end!important; 
  margin-top: 3rem;
}

.form-control {
    display: block;
    border-radius: 0px;
}

.first-name, .email-address {
    width: 50%;
    float: left;
}

.last-name, .phone-no {
    width: 50%;
    float: right;
}

#submit-button {
    float: right;
    width: 20%;
    margin-top: 2%;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFBBAA;
    border-color: #FFBBAA;
}

#submitted-message {
    margin-left: 0%;
    margin-top: 2%;
}

.location {
  display: inline-block;
  text-align: center;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.label-container {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  color: #333;
  position: absolute;
  top: -90px;
  left: -69px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 160px;
  height: auto;
  padding: 12px;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,.3);
  z-index: 1000;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  visibility: hidden;
  opacity: 0;
}

.activeLabel {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.label-container a {
  font-size: 14px;
  color: #333;
  padding: .5rem 0;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
}
.label-container a:hover {
  color: var(--primary-color);
}

.tri-down {
  height: 12px;
  left: 50%;
  position: absolute;
  bottom: -12px;
  width: 25px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.tri-down::after {
  background: #fff;
  clip-path: polygon(0 0,50% 100%,100% 0);
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 25px;
}

@media screen and (max-width: 991.98px) {
  .contact-us-container {
    padding-top: 6rem;
    display: block;
  }
  .contact-us-form {
    padding: 0 3rem;
    padding-bottom: 2rem;
  }
  #contact-form .submit-box {
    justify-content: center!important; 
  }
}

@media screen and (max-width: 575.98px) {
  .business-info {
    width: 85%;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 300px) {
  .business-email, .more-info {
    padding-right: 5px;
  }
}
