/* This file contains the styling for the Footer of the application */

.footer {
  padding: 16px 0;
  font-weight: 100;
  font-size: 12px;
  color: var(--footer-text-color);
  background: var(--footer-bg-color);
}

.footer__inner {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 14px;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

.footer-socials__icon {
  width: 24px;
  height: 24px;
}

.footer-socials__icon, .terms-conditions__icon {
  color: var(--footer-text-color);
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

.footer-info__text {
  color: var(--footer-text-color);
}

.terms-conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
